@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: #fff;
}

.random-quote-background {
  background-image: url('./assets/bg-image-random-quote.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}